<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="col-lg-12">
	        <ol class="breadcrumb">
	        	<li><a href="#">Metasploit App</a></li>
	        	<li class="active">Modules</li>
	        </ol>
	        <form action="/modules" method="post" class="form-inline" align="">
					<label class="radio-inline">
					  <input type="radio" name="moduleType" value="exploit" checked>Exploit
					</label>
					<label class="radio-inline">
					  <input type="radio" name="moduleType" value="auxiliary">Auxiliary
					</label>
				<div class="form-group pull-right">
					<input type="text" name="keyword" class="form-control" placeholder="Module Search...">
					<button type="submit" class="btn btn-primary pull-right">Search</button>
				</div>
	        </form>
	        <table class="table table-hover">
	        	<thead>
	        		<tr>
		        		<th>#</th>
		        		<th>Disclosure Date</th>
		        		<th>Rank</th>
		        		<th>Name</th>
		        		<th>Path</th>
		        	</tr>
		        </thead>

		        <tbody>
		        	<% for(var Id in modules) { count = Id%>
		        	<tr class="module-<%=Id %>">
		        		<td><%= ++count %></td>
		        		<td> <%= modules[Id].disclosuredate %> </td>
		        		<td>
                            <a data-toggle="tooltip" data-placement="top" title="<%=modules[Id].rank%>">
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                            </a>
						</td>
		        		<td><a href="/modules/<%= modules[Id].fullname %>/new">
		        			<%= modules[Id].name%>
		        			</a>
		        		</td>
		        		<td> <%= modules[Id].fullname %> </td>
		        	</tr>
		        	<% } %>
	        	</tbody>
	        </table>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

	<script>
		$(document).ready( function () {

            $('[data-toggle="tooltip"]').tooltip();

            var modules = <%- JSON.stringify(modules) %>;
            $.each(modules, function(i, properties){
                var moduleRank = properties.rank;
                var moduleRankPoint;
                if(moduleRank == "manual"){
                    moduleRankPoint = 0;
                }else if(moduleRank == "low"){
                    moduleRankPoint = 1;
                }else if(moduleRank == "average"){
                    moduleRankPoint = 2;
                }else if(moduleRank == "normal"){
                    moduleRankPoint = 3;
                }else if(moduleRank == "good"){
                    moduleRankPoint = 4;
                }else if(moduleRank == "great"){
                    moduleRankPoint = 5;
                }else if(moduleRank == "excellent"){
                    moduleRankPoint = 6;
                }else  moduleRankPoint = null;

				var starPercentage = (moduleRankPoint/6) * 100;
				var starPercentageRounded = `${Math.round(starPercentage / 10)*10}%`;
				var classModule = "module-"+i;
				$("."+classModule).find(".stars-inner").css("width", starPercentageRounded);

			})
        })


	</script>

</body>
</html>