<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="col-lg-12">
	        <ol class="breadcrumb">
	        	<li><a href="#">Metasploit App</a></li>
	        	<li class="active"> <%= workspace.name %> </li>
	        </ol>

	        <div class="panel panel-primary">
	        	<div class="panel-heading">
	        		<h3 class="panel-title">Information Gathering</h3>
	        	</div>
	        	<div class="panel-body">
	        		<a href="/workspaces/<%= workspace.id %>/hosts"><span id="hostsQuantity"></span> Hosts</a>
					<p><span id="servicesQuantity"></span> Services</p>
	        	</div>
	        	<div class="panel-footer">
	        		<form action="<%=workspace.id%>/tasks/new_scan" method="post">
	        			<input type="hidden" name="workspaceName" value="<%=workspace.name%>">
	        			<button type="submit" class="btn btn-default">Scan...</button>
	        		</form>
	        	</div>
	        </div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Clean-up the session</h3>
				</div>
				<div class="panel-body">
					<a href="/sessions"><span id="sessionsQuantity"></span> Sessions</a>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-default" id="cleanSessionsBtn">Clean...</button>
				</div>
			</div>

	    </div>
		<div class="modal fade" id="cleanSessionsModal" tabindex="-1" role="dialog" aria-labelledby="cleanSessionsLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Clean-up Alert</h4>
					</div>
					<div class="modal-body">
						<p><span id="cleanSessionModalText"></span></p>
					</div>
					<div class="modal-footer">
						<form class="form-inline" action="<%=workspace.id%>/cleanSessions" method="get">
							<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
							<button type="submit" class="btn btn-danger">Yes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>


	<script>
		var enableCleanSession = null;
        $(document).ready(function(){
            $("#cleanSessionsBtn").click(function(){
                console.log(enableCleanSession)
                if(enableCleanSession){
                    text = "Are you sure to DELETE the session ?";
				}else{
                    text = "You do not have any session. Please exploit to get the session.";
					$(".modal-footer").css("display","none");
				}
                $("#cleanSessionModalText").text(text);
                $("#cleanSessionsModal").modal();
            });
        });

		const workspace = <%- JSON.stringify(workspace)%>
        var sourceHosts = new EventSource('/workspaces/'+workspace.id+'/getHostsQuantity');
        sourceHosts.onmessage = function(e) {
			data = e.data;
            document.getElementById("hostsQuantity").innerHTML += data;
			sourceHosts.close();
        }

        var sourceServices = new EventSource('/workspaces/'+workspace.id+'/getServicesQuantity');
        sourceServices.onmessage = function(e) {
            data = e.data;
            document.getElementById("servicesQuantity").innerHTML = data;
            sourceServices.close();
		}

        var sourceSessions = new EventSource('/workspaces/'+workspace.id+'/getSessionQuantity');
        sourceSessions.onmessage = function(e) {
            data = e.data;
            if(data == 0)
                enableCleanSession = false
			else
				enableCleanSession = true
            document.getElementById("sessionsQuantity").innerHTML = data;
            sourceSessions.close();
        }
	</script>

</body>
</html>