<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="col-lg-12">
	        <ol class="breadcrumb">
	        	<li><a href="#">Metasploit App</a></li>
	        	<li><a href="#">Hosts</a></li>
	        	<li class="active"><%= hostId %></li>
	        </ol>

	        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
	        	<ul class="nav nav-tabs" id="myTabs" role="tablist">
	        		<li role="presentation"><a href="#services" id="services-tab" role="tab" data-toggle="tab" aria-controls="services" aria-expanded="true">Services</a></li>

	        		<li role="presentation"><a href="#sessions" id="sessions-tab" role="tab" data-toggle="tab" aria-controls="sessions" aria-expanded="true">Sessions</a></li>

	        		<li role="presentation"><a href="#vulnerabilities" id="vulnerabilities-tab" role="tab" data-toggle="tab" aria-controls="vulnerabilities" aria-expanded="true">Vulnerabilities</a></li>

	        		<li role="presentation"><a href="#credentials" id="credentials-tab" role="tab" data-toggle="tab" aria-controls="credentials" aria-expanded="true">Credentials</a></li>

	        		<li role="presentation"><a href="#captured_data" id="captured_data-tab" role="tab" data-toggle="tab" aria-controls="captured_data" aria-expanded="true">Captured data</a></li>

	        		<li role="presentation"><a href="#notes" id="notes-tab" role="tab" data-toggle="tab" aria-controls="notes" aria-expanded="true">Notes</a></li>

	        		<li role="presentation"><a href="#file_shares" id="file_shares-tab" role="tab" data-toggle="tab" aria-controls="file_shares" aria-expanded="true">File shares</a></li>

	        		<li role="presentation"><a href="#modules" id="modules-tab" role="tab" data-toggle="tab" aria-controls="modules" aria-expanded="true">Modules</a></li>
	        	</ul>

	        	<div class="tab-content" id="myTabContent">
	        		<div class="tab-pane fade active in" role="tabpanel" id="services" aria-labelledby="services-tab">
	        			<table class="table table-hover">
				        	<thead>
				        		<tr>
									<th>#</th>
									<th>Name</th>
									<th>Info</th>
									<th>Port</th>
									<th>Protocol</th>
									<th>State</th>
									<th>Updated at</th>
					        	</tr>
					        </thead>

					        <tbody>
					        	<% services.forEach(function(service) { %>
					        	<tr>
					        		<td><%= service.id %></td>
					        		<td><%= service.name %></td>
									<td><%= service.info %></td>
					        		<td><%= service.port %></td>
					        		<td><%= service.proto %></td>
					        		<td><%= service.state %></td>
					        		<td><%= service.updated_at.toLocaleString() %></td>
					        	</tr>
					        	<%	}) %>
				        	</tbody>
				        </table>
	        		</div>

	        		<div class="tab-pane fade" role="tabpanel" id="sessions" aria-labelledby="sessions-tab">Session table</div>

	        		<div class="tab-pane fade" role="tabpanel" id="vulnerabilities" aria-labelledby="vulnerabilities-tab">
	        			<table class="table table-hover">
				        	<thead>
				        		<tr>
				        		<th>#</th>
				        		<th>Name</th>
				        		<th>Host id</th>
				        		<th>Attempt Count</th>
				        		<th>Detail Count</th>
				        		<th>Exploited at</th>
					        	</tr>
					        </thead>

					        <tbody>
					        	<% vulns.forEach(function(vuln) { %>
					        	<tr>
					        		<td><%= vuln.id %></td>
					        		<td><%= vuln.name %></td>
					        		<td><%= vuln.host_id %></td>
					        		<td><%= vuln.vuln_attempt_count %></td>
					        		<td><%= vuln.vuln_detail_count %></td>
					        		<td><%= vuln.exploited_at %></td>
					        	</tr>
					        	<%	}) %>
				        	</tbody>
				        </table>
	        		</div>

	        		<div class="tab-pane fade" role="tabpanel" id="credentials" aria-labelledby="credentials-tab">Credentials table</div>

	        		<div class="tab-pane fade" role="tabpanel" id="captured_data" aria-labelledby="captured_data-tab">
	        			<table class="table table-hover">
				        	<thead>
				        		<tr>
				        		<th>#</th>
									<th>Loot Type</th>
				        		<th>Name</th>
				        		<th>Content Type</th>
				        		<th>Info</th>
				        		<th>Updated at</th>
					        	</tr>
					        </thead>

					        <tbody>
					        	<% loots.forEach(function(loot) { %>
					        	<tr>
					        		<td><%= loot.id %></td>
									<td><%= loot.ltype %></td>
					        		<td><%= loot.name %></td>
					        		<td><%= loot.content_type %></td>
					        		<td><%= loot.info %></td>
					        		<td><%= loot.updated_at.toLocaleString() %></td>
					        	</tr>
					        	<%	}) %>
				        	</tbody>
				        </table>

	        		</div>

	        		<div class="tab-pane fade" role="tabpanel" id="notes" aria-labelledby="notes-tab">
	        			<table class="table table-hover">
				        	<thead>
				        		<tr>
				        		<th>#</th>
				        		<th>Type</th>
				        		<th>Updated at</th>
					        	</tr>
					        </thead>

					        <tbody>
					        	<% notes.forEach(function(note) { %>
					        	<tr>
					        		<td><%= note.id %></td>
					        		<td><%= note.ntype %></td>
					        		<td><%= note.updated_at.toLocaleString() %></td>
					        	</tr>
					        	<%	}) %>
				        	</tbody>
				        </table>

	        		</div>

	        		<div class="tab-pane fade" role="tabpanel" id="file_shares" aria-labelledby="file_shares-tab">File_shares table</div>

	        		<div class="tab-pane fade" role="tabpanel" id="modules" aria-labelledby="modules-tab">Modules table</div>

	        	</div>
	        	
	        </div>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
    	$(document).ready(function(){
    		var vulns = <%- JSON.stringify(vulns)%>
    		console.log(vulns);
    		var notes = <%- JSON.stringify(notes)%>
    		console.log(notes);
    	})
    </script>
</body>
</html>