<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="col-lg-12">
	        <ol class="breadcrumb">
	        	<li><a href="/">Metasploit App</a></li>
	        	<li><a href="/sessions">Sessions</a></li>
	        	<li class="active"><%= sessionId %></li>
	        </ol>
	       
	       <table class="table table-hover">
	        	<thead>
	        		<tr>
		        		<th>#</th>
		        		<th>Path</th>
		        		<th>Name</th>
		        		<th>Rank</th>
		        	</tr>
		        </thead>

		        <tbody>
		        	<% for(var Id in postModules) { count = Id%>
		        	<tr>
		        		<td><%= ++count %></td>
		        		<td> <%= postModules[Id].fullname %> </td>
		        		<td><a href="/sessions/<%= sessionId%>/<%= postModules[Id].fullname %>/new">
		        			<%= postModules[Id].name%>
		        			</a>
		        		</td>
		        		<td> <%= postModules[Id].rank %> </td>
		        	</tr>
		        	<% } %>
	        	</tbody>
	        </table>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
    	$(document).ready( function(){
    		var postModules = <%- JSON.stringify(postModules) %>;
    		console.log(postModules);
    	})
    </script>

</body>
</html>