<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="col-lg-12">
	        <ol class="breadcrumb">
	        	<li><a href="/">Metasploit App</a></li>
	        	<li><a href="/modules">Post Exploitation</a></li>
	        	<li class="active"><%= postModuleInfo.name %></li>
	        </ol>  
        </div>

        <div class="col-lg-12">
	       <div class="well" id="module-info">
	       		<h2><%= postModuleInfo.name %><br><small><%= postModuleInfo.description%></small></h2>
			  <p><strong>Path:</strong> <%= postModuleInfo.fullname%></p>
			  <p>
				  <strong>Rank:</strong> <%= postModuleInfo.rank%>
				  <% var arch = postModuleInfo.arch; 
				  	 if(arch.length != 0){ %>
				  	<strong>Arch:</strong> <span><%= postModuleInfo.arch%></span>
				  <% } %>
				  <strong>Priviledged:</strong> 
				  <% if(postModuleInfo.priviledged){%>
				  		Yes
				  <% }else { %>
				  		No
				  <% } %>
			  </p>
			  <p><strong>License:</strong> <%= postModuleInfo.license%></p>
			  <p><strong>Author:</strong> <%= postModuleInfo.authors%></p>
			  <p><strong>Ref:</strong> <%= postModuleInfo.references%></p>

			</div>
	    </div>

	    <div class="row">
		    <div class="col-md-10 col-md-offset-1">
			    <div class="panel panel-default" >
			      	<div class="panel-heading">Customization</div>
			      	<div class="panel-body">
				      	<form action="/sessions/<%= postModuleInfo.fullname%>/run_now" method="post" id="postModuleOption2Run">
				      		<h1>Form</h1>
				      		<div class="well" id="postModuleRequired"><h3>postModuleRequired</h3></div>
				      		<div class="well" id="postModuleOptional"><h3>postModuleOptional</h3></div>
				      		<div class="well" id="postModuleAdvanced"><h3>postModuleAdvanced</h3></div>

				      		<button type="submit" class="btn-lg btn-block btn-success">Run</button> 
				      	</form>
			      	</div>	
			    </div>
			</div>
		</div>

    </main>

    <footer class="col-lg-12">
        <% include ./partials/footer %>
    </footer>
    <script>
    	$(document).ready(function() {
    		var postModuleOption = <%- JSON.stringify(postModuleOption) %>;
    		// console.log(postModuleOption);
 
    		$.each(postModuleOption, function(optionKey, properties){
    			
    			var optionRequired = properties.required;
    			var optionEvasion = properties.evasion;
    			var optionAdvanced = properties.advanced;
    			if(optionRequired && !optionAdvanced && !optionEvasion){
    				var selector = "postModuleRequired";
    			}else if(optionAdvanced || optionRequired && !optionEvasion){
    				var selector = "postModuleAdvanced";
    			}else if(!optionRequired && !optionAdvanced && !optionEvasion){
    				var selector = "postModuleOptional";
    			}

    			var optionDesc = properties.desc;
    			var optionType = properties.type;
    			if(optionType == "bool"){
    				var htmlInputFormat = '\
    				<div class="checkbox">\
					  <label>\
					    <input type="checkbox" name="'+optionKey+'" value="'+true+'">\
					    '+ optionKey +'\
					  </label>\
					</div>\
					<p class="help-block">'+optionDesc+'</p>';
    			}else if(optionType == "enum"){
    				var optionEnums = properties.enums;
    				var htmlOptionEnums = '';
    				optionEnums.forEach(function(item){
    					htmlOptionEnums += '<option value="'+item+'">'+item+'</option>';
    				})
    				var htmlInputFormat = '\
    				<div class="form-group">\
						<label>'+optionKey+'</label>\
						<p class="help-block">'+optionDesc+'</p>\
	    				<select class="form-control" name="'+ optionKey +'">\
						  '+htmlOptionEnums+'\
						</select>\
					</div>';
    			}else{
    				var htmlInputFormat = '\
    				<div class="form-group">\
						<label>'+optionKey+'</label>\
						<p class="help-block">'+optionDesc+'</p>\
						<input type="text" class="form-control" name="'+ optionKey +'" placeholder="'+optionKey+'">\
					</div>';
    			}
 
    			$("#"+selector).append(htmlInputFormat);
    			if('default' in properties){
    				var optionDefault = properties.default;
    				if(optionType == "bool"){
    					if(optionDefault == true){
    						$("input[name='"+optionKey+"']").prop('checked',true);
    					}
    				}else if(optionType == "enum"){
    					$("select[name='"+optionKey+"']").val(optionDefault);
    				}else{
    					$("input[name='"+optionKey+"']").val(optionDefault);
    				}
    			}
    		})// end each
    		if($("#postModuleOptional").children().length == 1){
    			$("#postModuleOptional").hide();
    		}
    	})
    </script>

</body>
</html>